.container {
    margin: auto;
    width: 500px;
    height: 750px;
}
.display {
    display:grid;
    grid-template-columns: repeat(1, 1fr);
    text-align: right;
}
.top-container {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
}
.bottom-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}